.aaa {
    color:blue;
    font-size: 30px;
    font-weight:400;
}
.block{
    height: 100px;
    width: 100px;
    margin:0px auto;
    padding:10px 10px 10px 10px;
    background-color: red;
    border-color: blue;
    border-style: dashed;
}
.html,body{
    margin:0;
    padding:0;
}